/*! CSS Used from: Embedded */
.gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
    font-weight: 400;
}

/*! CSS Used from: Embedded */
.gm-control-active > img {
    box-sizing: content-box;
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gm-control-active > img:nth-child(1) {
    display: block;
}

.gm-control-active:hover > img:nth-child(1), .gm-control-active:active > img:nth-child(1) {
    display: none;
}

.gm-control-active:hover > img:nth-child(2), .gm-control-active:active > img:nth-child(3) {
    display: block;
}

/*! CSS Used from: Embedded */
.gm-ui-hover-effect {
    opacity: .6;
}

.gm-ui-hover-effect:hover {
    opacity: 1;
}

/*! CSS Used from: Embedded */
.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
    font-size: 10px;
    box-sizing: border-box;
}

/*! CSS Used from: Embedded */
@media print {
    .gm-style .gmnoprint, .gmnoprint {
        display: none;
    }
}

@media screen {
    .gm-style .gmnoscreen, .gmnoscreen {
        display: none;
    }
}

/*! CSS Used from: Embedded */
.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
}

.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*! CSS Used from: Embedded */
.gm-style img {
    max-width: none;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .gm-style {
        position: static !important;
    }
}


     /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
#map {
    height: 550px;
}
/* Optional: Makes the sample page fill the window. */

#description {
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}
.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto, serif;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto, serif;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}


