.nav {
    -webkit-font-smoothing: antialiased ;
    font-size:1.1rem;
    width:100%;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0 10px 40px rgba(227, 228, 232, 0.8);
    margin: 0 0 20px ;
}
.nav-item{
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
}
.nav-item::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}
.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}
.nav-item:not(.is-active):hover { color: #333; }
.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}
@media (max-width: 580px) {
    .nav {
        overflow-y: hidden;
        overflow-x: auto;
        padding: 0 10px;
    }
    .nav-item {
        padding: 15px;
        margin: 0 3px;
        font-weight: 300;
    }
}
a:hover {
    text-decoration: none;
}
