@media screen {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    button {
        touch-action: manipulation;
    }

    button {
        background: none;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        display: inline-block;
        cursor: pointer;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
    }

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    button:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

    .body-link {
        color: #5c6ac4;
        text-decoration: underline;
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
        -webkit-text-decoration-style: solid;
        text-decoration-style: solid;
        -webkit-text-decoration-color: currentColor;
        text-decoration-color: currentColor;
        -webkit-text-decoration-skip: ink;
        text-decoration-skip-ink: auto;
    }

    .body-link:hover, .body-link:focus {
        text-decoration: none;
    }

    .body-link:focus {
        background-color: rgba(92, 106, 196, 0.125);
    }

    .marketing-button--skin-reset {
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        color: inherit;
        background-color: transparent;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }

    .marketing-button--skin-reset:focus, .marketing-button--skin-reset:hover, .marketing-button--skin-reset:active {
        background-color: transparent;
        box-shadow: none;
    }

    .marketing-button--skin-reset:focus, .marketing-button--skin-reset:hover {
        color: #5c6ac4;
    }

    .marketing-button--skin-reset:active {
        color: #202e78;
    }

    .icon {
        display: inline-block;
        width: 0.8em;
        height: 1em;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .icon--fill-primary {
        fill: #5c6ac4;
    }

    .button--icon {
        position: relative;
    }

    .button--icon .body-link {
        margin-left: 2.5em;
    }

    .button--icon .icon {
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        top: 0;
    }

    .line-item__add {
        border-bottom: 1px solid #dfe3e8;
        padding-bottom: 1.875em;
        margin-bottom: 1.875em;
        margin-top: 0.9375em;
    }
}
