
/*----------------------- Preloader -----------------------*/
#preloader-wrapper{
    background: white;
    height: 100%;
    position: fixed;
    z-index: 111;
    width: 100%;
}
#loading {
    background: url('/public/images/client/preloader.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 111;
}
