.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}
.tablink:hover {
    background-color: #777;
}
.tablink.active {
    background-color: #327a81;
}
.tablink.approved.active {
    background-color: #219230;
}
.tabcontent {
    color: grey;
    display: none;
    padding: 100px 20px;
}
.tabcontent.active {
    display: block;
}
