
.ui-slider-horizontal .ui-slider-range {
    background-color: #97ce00;
}

.ui-slider-control-plus, .ui-slider-control-minus {
    width: 0.9em;
    height: 1.2em;
    position: absolute;
    z-index: 99;
    margin: -5px 0 0 -10px;
    border: 1px solid #d3d3d3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #97ce00;
    line-height: 26px;
}

.ui-slider-control-plus:after, .ui-slider-control-minus:after {
    width: 0.8em;
    height: 0.7em;
    position: absolute;
    color: #fff;
    text-align: center;
    right: -4px;
    top: -6px;
    line-height: 26px;
    font-size: 23px;
}

.ui-slider-control-plus:after {
    content: "+";
}

.ui-slider-control-minus:after {
    content: "-";
}

.ui-slider-control-minus, .ui-slider-control-plus, .ui-slider-handle {
    cursor: pointer;
}

.ui-slider-handle.arrow-left, .ui-slider-handle.arrow-right {
    width: 0;
    height: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.ui-slider-handle.arrow-left {
    margin-left: -16px;
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-right: 0.8em solid #e6e6e6;
}

.ui-slider-handle.arrow-right {
    margin-left: 0px;
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-left: 0.8em solid #e6e6e6;
}

.range-value {
    position: absolute;
    z-index: 12;
}

.range-value span {
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: rgba(151, 206, 0, 0.92);
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
}

.range-value span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #03a9f4;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

.slider-tick-mark-main {
    display: inline-block;
    width: 1px;
    background: #bbb;
    height: 7px;
    position: absolute;
    top: 8px;
    font-size: 11px;
}

.slider-tick-mark-main-text {
    display: inline-block;
    width: 20px;
    height: 10px;
    position: absolute;
    top: 15px;
    font-size: 9px;
    text-align: center;
    margin-left: -9px;
}

.slider-tick-mark-side {
    display: inline-block;
    width: 1px;
    background: #ccc;
    height: 5px;
    position: absolute;
    top: 8px;
}

